<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="">Sushi</a>
    <a href="">Sushimi</a>
    <a href="">Nigir</a>
    </nav>
    {%block content%}

    {%endblock %}
    
    <footer>
        <a href="">twitter</a>
        <a href="">Facebook</a>
        <a href="">Instragram</a>
    </footer>
</body>
</html>